.mainPanel {
    display: grid;
    grid-template-rows: 100px 1fr;
    height: 100%;
    width: 100%;
    padding: 0 10px;
}

.messages {
    position: relative;
    width: 100%;
    height: 100%;

    .messages__list {
        display: flex;
        flex-direction: column;

        padding-bottom: 5px;
        gap: 5px;

        height: calc(var(--deviceHeight) - 170px);
        
        overflow: auto;

        &::-webkit-scrollbar{
            background-color: $primary-color;  
        }
        
        &::-webkit-scrollbar-thumb{            
            border-radius: 99999px;
            
            background-color: $secondary-color;
        }

        .message {
            padding: 7px 12px;
            width: max-content;
            background-color: $messageBackground;
            color: $messageForeground;
            border: 1px solid $messageBorder;
            border-radius: 99999px;
        }
    }

    .messages__input {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;

        #txtChatInput {
            width: 100%;
            height: 50px;
            background-color: $special-color;
            border-radius: 100px;
            border: 0;
        }
    }
}