.popup{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);

    transition: .4s;

    opacity: 0;
    pointer-events: none;
    
    &.active{
        opacity: 1;
        pointer-events: all;    
    }

    .userLogin{
        display: flex;
        flex-direction: column;
        gap: 25px;

        background-color: white;
        padding: 20px;
        border-radius: 10px;
        
        &>div{
            display: flex;
            flex-direction: column;
            gap: 10px;

            label{
                font-size: 15px;
            }

            input{
                padding: 5px 10px;
                border-radius: 999px;
                border-color: rgba(0, 0, 0, 0.2);
                
                transition: .45s;

                &:focus{
                    border-color: black;
                }
            }
        }

        button{
            padding: 10px 20px;
            border-radius: 999px;
            border: none;

            background-color: cyan;

            transition: .45s;

            cursor: pointers;

            &:hover{
                background-color: lightblue;
            }
        }
    }
}