$background-color: #82e4ff;
$foreground-color: #212121;
$primary-color: #ffa617;
$secondary-color: #52d4ff;
$special-color: #28fd88;

$messageBackground: #393939;
$messageForeground: #fff;
$messageBorder: #00d5ff;

$sidePanelSize: 400px;