:host{
    display: block;

    transition: .45s;
}

:host(:state(selected)) .__wrapper{
    background-color: rgba(var(--__backgroundColor), 1);
    border: 1px solid rgba(var(--__primaryColor), 1);
}

.__wrapper{
    display: flex;
    align-items: center;
    gap: 10px;

    padding: var(--generalPadding);
    
    border: 1px solid rgba(var(--__primaryColor), .1);
    border-radius: calc(var(--generalRadius) / 2);
    
    background-color: rgba(var(--__backgroundColor), .75);
    
    cursor: pointer;
    
    transition: .45s;
}

.__wrapper:hover{
    border: 1px solid rgba(var(--__primaryColor), .25);
    background-color: rgba(var(--__backgroundColor), 1);
}

.__wrapper:hover button{
    opacity: 1;
    pointer-events: all;
}

img{
    width: 50px;
    height: 50px;
    
    object-fit: cover;
    object-position: center;

    border-radius: 100%;
}

h2{
    margin: 0;

    font-size: 1rem;
}

span{
    font-size: .8rem;

    color: rgba(var(--__foregroundColor), .75)
}

button{
    margin-left: auto;

    appearance: none;
    background: transparent;
    border: none;

    transition: .45s;

    opacity: 0;
    pointer-events: none;

    cursor: pointer;
}

button svg {
    display: block;
    width: 10px;
    fill: rgba(var(--__foregroundColor), .5);
}