@import '../config/config.css';

*{
    box-sizing: border-box;
    appearance: none;
}

body{
    margin: 0;
    padding: var(--generalPadding);
}

a{
    text-decoration: none;
    color: var(--foregroundColor);
}

ul{
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--__primaryColor),.5);
    border-radius: 99999px;

    transition: .45s;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: rgba(var(--__primaryColor),1);
}