@import '../config/config.css';

*{
    box-sizing: border-box;
    appearance: none;ß
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--foregroundColor)
}

ul{
    list-style: none;
}