@import '../../config/reset.css';

:host {
	display: block;
    
    width: 100%;
    height: 100%;
    
    padding: calc(var(--generalPadding) / 2);
    
    overflow: auto;

    padding-bottom: calc(var(--inputHeight) + 10px);
}

ul {
	display: flex;
	flex-direction: column;
	gap: 5px;

    margin: 0;
    padding: 0;
}