<div class="sidePanel" id="sidePanelDiv">
</div>
<div class="mainPanel">
    <div class="sidePanel__head">
        <div class="userProfile">
            <div class="userProfile__picture">
                <div class="wrapper">
                    <img src="https://static.vecteezy.com/system/resources/previews/021/548/095/non_2x/default-profile-picture-avatar-user-avatar-icon-person-icon-head-icon-profile-picture-icons-default-anonymous-user-male-and-female-businessman-photo-placeholder-social-network-avatar-portrait-free-vector.jpg"
                        alt="${postUser.username}">
                </div>
                <!-- idle,offline,online,busy -->
                <span class="statusIndicator offline"></span>
            </div>
            <div class="userProfile__nameAndStatus">
                <div class="name">Alperen Ertürk</div>
                <div class="status">
                    <span>You're nobody untill somebody loves you...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sidePanel__interface">
        <div class="messages">
            <!-- <ul class="messages__list">
                <li class="message">
                </li>
            </ul> -->
            <!-- <div class="messages__input">
                <input type="text" id="txtChatInput">
            </div> -->
        </div>
    </div>
</div>