@import '../../config/reset.css';

:host {
	position: absolute;
    z-index: 2;
	top: 0;
	left: 0;

    width: 100%;
    height: var(--titleHeight);
}

.__wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
    flex-direction: row;
	gap: 10px;

    padding: 10px;

    width: 100%;
    height: 100%;

	background-color: rgba(var(--__backgroundColor), .5);
	backdrop-filter: blur(var(--backgroundBlurStrength));

    border-bottom: solid 1px rgba(var(--__primaryColor), .75);
    box-shadow: 0 0 50px -10px rgba(var(--__primaryColor), .5);
}

div {
	display: flex;
	flex-direction: column;
    justify-content: center;
    gap: 2px;

    height: var(--titleHeight);
}

img {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	object-fit: cover;
	object-position: center;
}

h2 {
	padding: 0;
	margin: 0;
}

span{
    font-size: .7rem;
    color: rgba(var(--__foregroundColor), .5)
}